/* fonts */


@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins&display=swap');



/* page propriety */

.side-bar .icons .fa-house {
    color: #ffffff;
    font-size: 30px;
    background: rgb(0, 0, 0);
    
    

}


header a{
    text-decoration: none;
    color: #000;
}
/* watch box */

.film iframe{
    width: 100%;
    height: 340px;
    padding: auto;
    margin-top: 60px;

    
    
}







/* synopsis */


.about-film{
    padding: 10px;
    margin-bottom: 40px;
}
    
.about-film p{
    color: white;
    padding: 5px;
    font-family: 'Fira Sans',Arial, Helvetica, sans-serif;
}

.about-film h4{
    font-size: 1.5em;
    margin-left: 5%;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    color: white;
}


/* Download */

.download h3{
    margin-bottom: 10px;
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    color: white;
    
}

.download a{
    text-decoration: none;
}

.download h3:hover{
    background-color: #ffffff;
    
    
    color: #000;
}

/* trailer */

.trailer{
    padding: 20px;
}
.trailer h3{
    margin-bottom: 10px;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    color: white;
}

.trailer iframe{
    width: 100%;
    
}