/* Link */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Poppins&display=swap');




/* Page Propriety */

body{
    background: #16161a;
    max-width: 100%;
    overflow-x: hidden;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.image-box img{
    border-radius: 3px;
}













/* Slider */

.image-slider{
    height: 100%;
    
    
    background: #000;
    background-image: url(assets/affiche/one-piece-film.png);
    
    background-position: center;
    background-size: cover;
    transition: 0.3s;
}

section{
    height: 100%;
    
    
    transition: 0.3s;
}

.image-slider *{
    box-sizing: border-box;

}

.caption{
    background: linear-gradient(rgba(0,0,0,0)#000);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 4em 1em 2e 1em;
    text-align: center;
}

.caption h4{
    margin: 0;
    color: #fff;
}

.arrow-left, .arrow-right{
    background: #fff;
    position: absolute;
    top: 40%;
    height: 3em;
    width: 3em;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.arrow-left:hover, .arrow-right:hover{
    background: #000;
    color: #fff;

}

.arrow-left{
    left: 1em;
}

.arrow-right{
    right: 1em;
}

.image-fade{
    animation: imgFade 0.5s ease-in-out;
}

@keyframes imgFade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



/* Header */

header h1{
    font-family: 'Outfit',Arial, Helvetica, sans-serif;
}
header{
    
    background: #fffffe;
    color: #010101;
    display: flex;
    height: 10%;
    width: 100%;
    align-items: center;
    padding: 10px 10px;
    justify-content: space-around;
    position: fixed;
}

header{
    font-size: 20px;
}










/* Slider */



.slider{
    background: #fff;
    width: 100%;
    height: 400px;
}









/* New Releases */

.new-release{
    margin-top: 15px;
}
.new-release h3{
    color: white;
    font-family:  'Poppins', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin-left: 25px;
    font-weight: 300;
}
.new-release .new {
    max-height: 200px;
    margin: 10px 10px 10px 10px;
    overflow-x: auto;
    display: flex;
    
    
}


.new .image-box{
    margin: 0 10px;
    

}
.image-box img{
    height: 150px;
    width: 250px;
}
  
.new::-webkit-scrollbar{
    width: 0;
}
  



/* Our Anime */

.top .top-anime{
    max-height: 300px;
    margin: 10px 10px 10px 10px;
    overflow-x: auto;
    display: flex;
}
.top h3{
    color: white;
    font-family:  'Poppins', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin-left: 25px;
    font-weight: 300;
}

.top-anime .image-box{
    margin: 0 10px;
}

.top-anime .image-box img{
    height: 220px;
    width: 150px;
    object-fit: cover;
}

.top-anime::-webkit-scrollbar{
    width: 0;
}
  
/* Tabs */

.tabs-bar{
    padding: 0 15%;
    
}
.tabs {
    background-color: transparent;
    max-width: 100%;
    
    margin: 10px auto 0;
    border-radius: 10px;
    margin-bottom: 50px;
    color: #b7b2b2;
    display: grid;
    grid-template-rows: min-content 1fr;
    

  }
  .tabs-btn-container {
    display: flex;
    
  }

  .tabs-btn-container{
    width: 300px;
    display: flex;
    justify-content: center;
    
  }
  .tab {
    border: none;
    margin-left: 20%;
    background: transparent;
    color: #b4b2b2;
    font-family: Open sans, sans-serif;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(16px, 1vw, 10px);
    font-weight: 700;
    padding: 20px 0;
    cursor: pointer;
  }
  
  .tab:nth-child(1) {
    border-bottom-left-radius: 3px;
  }
  .tab:nth-child(3) {
    border-top-right-radius: 9px;
  }
  .tab-content {
    grid-area: 2 / 1 / 3 / 2;
    padding: 10px 10% 10px 20%;
    min-height: 200px;
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    visibility: hidden;
    transition: opacity 0.4s ease-out;
  }
  .tab-content .image-box{
    
    margin: 5px 5px;
    
  }
  .tab-content h3 {
    font-size: clamp(20px, 2vw, 25px);
  }

  .tab-content .image-box img{
    height: 200px;
    width: 150px;
    border-radius: 3px;
  }

  
  
  /* Animations tabs */
  .active-tab {
    
    font-weight: bolder;
    border-bottom: 3px #b30808 solid;
    border-bottom-width: 5px;
    color: #fff
  }
  .active-tab-content {
    visibility: visible;
    opacity: 1;
  }







  /* Popular part */
.popular{
    height: 600px;
}
.popular .top-films{
    max-height: 300px;
    margin: 10px 10px 10px 10px;
    overflow-x: auto;
    display: flex;
}
.popular h3{
    color: white;
    font-family:  'Poppins', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin-left: 25px;
    font-weight: 300;
}

.top-films .image-box{
    margin: 0 10px;
    position: relative;
    
}

.top-films .image-box img{
    height: 250px;
    width: 150px;
    object-fit: cover;
}

.top-films::-webkit-scrollbar{
    width: 0;
}
  

.popular .top-films .image-box h6{
    position: absolute;
    bottom: 20px;
    left: 10px;
    color: rgb(15, 15, 15);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 5em;
    font-weight: 500px;
    text-transform: capitalize;

  }

/* Side Bar */

.side-bar{
    bottom: 0;
    position: fixed;
    height: 8%;
    background: #000000;
    width: 100%;
    
}

.side-bar .icons{
    display: flex;
    align-items: center;
    
    padding: 10px 30px;
    justify-content: center;
    font-size: 2em;
    color: #72757e;
}

.side-bar .icons i{
    margin: 0 20px;
    
}

.side-bar .icons .fa-house{
    color:#010101;
    font-size: 35px;
    background: white;
    border-radius: 50%;
    padding: 10px;
    
}

.side-bar .icons i:nth-child(3){
    margin: 0px 10px 0 15px;
    
}





/* Responsive */



@media screen and (min-width: 600px)
{
    .side-bar{
        visibility: hidden;
    }
}

